// CUSTOM BUTTON
.z-btn-filled {
    border: 1px solid $brand;
    background-color: $brand;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    color: #fff;
    font-weight: 400;
    
    &:focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2);
    }
    
    &.z-btn-black {
        background-color: $black;
        border-color: $black;

        &:focus {
            box-shadow: 0 0 0 2px rgba($black, 0.2);
        }
    }
}

.z-btn-outline {
    border: 1px solid $brand;
    background-color: $brand-light;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    color: $brand;
    font-weight: 500;

    &:focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2);
    }
}
// END CUSTOM BUTTON