// CUSTOM INPUT
.z-input {
    background-color: $brand-light;
    border: 1px solid $brand;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: $brand-light;
    background-clip: padding-box;
    border-radius: 0;

    :focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2) !important;
        // box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
}
// END CUSTOM INPUT