.z-star {
    .star {
        fill: $brand;
        stroke: $brand;
        stroke-width: 2;
    }

    /* Half-filled star using gradient 
    --------------------------------
    (CSS gradient does not work here)
    */

    .star--half {
        fill: url(#halfGradient);
    }

    .star--empty {
        fill: none;
    }

    /* Not so important styles: */

    .star {
        height: toem(14.5008px);
    }
    
    .star--big {
        height: toem(32px);
    }

    .star-source {
        position: absolute;
        width: 0;
        top: 0;
    }

    /* IE11 */

    svg {
        display: inline-block;
        vertical-align: top;
    }
}
