@import "./custom-components/checkbox";
@import "./custom-components/rating";
@import "./custom-components/scroll";

.unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fw-regular {
    font-weight: 400;
}

.text-link {
    color: #00b1ff;
    text-decoration: none !important;

    &.italic {
        font-style: italic;
    }

    &:hover {
        color: #00b1ff;
    }
}

// CUSTOM BUTTON
.z-btn-filled {
    border: 1px solid $brand;
    background-color: $brand;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    color: #fff;
    font-weight: 400;

    &:focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2);
    }
}

.z-btn-outline {
    border: 1px solid $brand;
    background-color: $brand-light;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    color: $brand;
    font-weight: 500;

    &:focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2);
    }
}
// END CUSTOM BUTTON

// CUSTOM INPUT
.z-input {
    background-color: $brand-light;
    border: 1px solid $brand;
    outline: none !important;
    transition: 0.2s box-shadow ease-in-out;
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: $brand-light;
    background-clip: padding-box;
    border-radius: 0;

    :focus {
        box-shadow: 0 0 0 2px rgba($brand, 0.2) !important;
        // box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
    }
}
// END CUSTOM INPUT

// PRODUCT
.product-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.625rem;
    margin-top: 1rem;

    .product-item {
        background-color: #fff;

        &__top {
            border-bottom: 2px solid $body-bg;

            .product-item__image {
                max-width: 15.625rem;
                max-height: 15.625rem;
                // padding: 5px;
                text-decoration: none;

                img {
                    max-width: 100%;
                    height: auto;
                    object-fit: contain;
                    transform: scale(.9);
                }
            }
        }

        &__bottom {
            padding: 0.625rem;

            .product-item__info {
                line-height: 1rem;
                overflow: hidden;

                .product-item__name,
                .product-item__desc {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: $black;
                    max-width: 11.875rem;
                }
            }

            .product-item__order {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 0.5rem;

                .product-item__price {
                    // line-height: 16px;
                    .product-item__current {
                        color: $brand-strong;
                        font-size: 1.125rem;
                    }
                    .product-item__prev {
                        color: $black;
                        opacity: 0.4;
                        font-size: 0.75rem;
                        text-decoration: line-through;
                    }
                }

                .product-item__action {
                    justify-self: flex-end;

                    button {
                        display: flex;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
// END PRODUCT