.hero-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 22.8125rem;
    grid-gap: 0.625rem;
    margin-bottom: 0.625rem;

    @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
    }

    .categories {
        // min-width: 215px;
        // overflow: hidden;
        display: grid;
        grid-template-rows: auto 20rem;
        // overflow: hidden;

        &__label {
            background: $brand;
            color: #fff;
            padding: 0.25rem 0.625rem;
            text-transform: uppercase;
        }

        &__items {
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            overflow-x: hidden;
            overflow-y: auto;

            .categories__item {
                border-bottom: 1px solid #eaeaea;
                padding: 0.125rem 0.625rem;
                cursor: pointer;
                position: relative;

                a {
                    text-decoration: none;
                    color: $text-dark;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .mdi {
                        opacity: 0;
                        font-size: 1.125rem;
                        margin-right: -0.4375rem;
                    }
                }

                &:hover {
                    .categories__item-link {
                        color: $brand;

                        .mdi {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .sub-category {
            position: absolute;
            top: 0;
            right: -12.5rem;
            list-style-type: none;
            padding: 0;
            margin: 0;
            z-index: 50;
            min-width: 12.5rem;
            display: none;

            &__item {
                border-bottom: 1px solid #eaeaea;
                padding: 0.125rem 0.625rem;
                cursor: pointer;
            }
        }

        @media screen and (max-width: 512px){
            display: none;
        }
    }
    
    .product-slider {
        overflow: hidden;

        .swiper-container {
            width: 100%;
            height: 100%;

            .swiper-slide {
                text-align: center;
                font-size: 1.125rem;
                background: #fff;

                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                color: $text-dark;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
            }
        }

        .swiper-pagination-bullet {
            background: #000;
            opacity: .2;
            background-color: transparent;
            border: 1px solid #000;
        }

        .swiper-pagination-bullet-active {
            background-color: $brand;
            border: 1px solid $brand;
            opacity: 1;
        }
    }

    .others {
        display: grid;
        grid-row-gap: 0.625rem;
        // min-width: 215px;

        .card-item {
            width: 100%;
            height: calc(100% - 2rem);

            &__content {
                background-color: #fff;
                height: 100%;
                
                @media screen and (max-width: 512px){
                    min-height: 9.375rem;
                }
            }

            &__bottom-action {
                text-align: center;
                display: flex;
                
                a {
                    border: none;
                    text-decoration: none;
                    color: #fff;
                    background-color: $brand;
                    text-transform: uppercase;
                    padding: 0.25rem 0.625rem;
                    width: 100%;
                    outline: none;
                    transition: .3s box-shadow ease-in-out;
                    font-size: toem(15px);

                    &:focus {
                        box-shadow: 0 0 0 2px rgba($brand, .5);
                    }
                }
            }
        }
    }
}

.ads-section {
    // margin-top: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.625rem;
    grid-gap: 0.625rem;

    @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
    }

    .ads {
        min-height: 5rem;
        background-color: #fff;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        span {
            color: $text-dark;
        }
    }
}

.accreditation {
    margin-top: 0.625rem;
    background-color: #fff;
    min-height: 25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .label {
        text-align: center;
        color: $text-dark;
        font-size: 1.25rem;
    }

    .btn-inquire {
        background-color: $brand;
        color: #fff;
        text-align: center;
        border: 1px solid $brand;
        width: 12.5rem;
        margin: 0 auto;
        padding: 0.25rem 0.625rem;
        outline: none;
        transition: .3s box-shadow ease-in-out;

        &:focus {
            box-shadow: 0 0 0 2px rgba($brand, .5);
        }
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    
    .section-title {
        color: $black;
        font-size: 1.25rem;
    }

    .section-action {
        text-decoration: none;
        color: $brand;
        font-size: 1rem;
    }
}

.feature-products, .most-popular {
    margin-top: 2rem;
    overflow: hidden;

    .rating-holder {
        margin-top: 0.5rem;
        display: flex;
    }
}

.most-popular {
    .z-btn-filled {
        min-width: 15.625rem;
        min-height: 2.5rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625rem;
    margin-top: 2rem;

    @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
    }

    &__item {
        background-color: #fff;
        min-height: 18.75rem;

        .label {
            text-align: center;
            color: $text-dark;
            font-size: 1.125rem;
            padding: 1rem;
        }
    }
}