html, body {
    background-color: $body-color;
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;

    .header-toolbar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 10px 0;
        align-items: center;

        &__brand {
            a {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        &__center-actions {
            justify-self: center;
            display: flex;
            align-items: center;

            .search {
                display: flex;
                flex-wrap: nowrap;
                margin-right: 32px;

                &__input {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    border: 1px solid $brand;
                    padding: 4px 16px;
                    outline: none;
                    background-color: $brand-variant;
                    transition: .3s box-shadow ease-in-out;
                    min-width: 400px;

                    &:focus {
                        box-shadow: 0 0 0 2px rgba($brand, .6);
                    }
                }

                &__btn {
                    border: 1px solid $brand;
                    outline: none;
                    background-color: $brand;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    transition: .3s box-shadow ease-in-out;
                    
                    span {
                        color: #fff;
                        font-size: 1.2rem;
                    }

                    &:focus {
                        box-shadow: 0 0 0 2px rgba($brand, .6);
                    }
                }
            }

            .actions {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-gap: 20px;

                .inherits {
                    text-decoration: none;
                    color: $text-dark;
                    font-weight: 500;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    font-size: 20px;

                    .round-icon {
                        background-color: $brand;
                        border-radius: 100%;
                        min-width: 20px;
                        height: 20px;
                        color: #fff;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-top: 2px;

                        .value {
                            font-size: 12px;
                        }

                        span {
                            color: #fff;
                        }
                    }
                }

                .cart {
                    display: flex;
                    
                    &__dropdown {
                        text-decoration: none;
                        color: $text-dark;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        transition: .3s color ease-in-out;
                        margin-right: 5px;

                        span {
                            font-size: 20px;
                        }

                        &:hover {
                            color: $brand;
                        }
                    }

                    &__add {
                        @extend .inherits;
                    }
                }

                .notif {
                    @extend .inherits;
                }
            }
        }

        &__right-actions {
            display: flex;
            align-items: center;

            .separator {
                color: $text-dark;
            }

            a {
                text-decoration: none;
                color: $text-dark;
                display: flex;
                align-items: center;
                transition: .3s color ease-in-out;

                .mdi {
                    font-size: 18px;
                    margin-left: 3px;
                }

                &:hover {
                    color: $brand;
                }
            }
        }

        &__is-logged-in {
            .user {
                position: relative;

                &__dropdown {
                    text-decoration: none;
                    color: $text-dark;
                    transition: .3s color ease-in-out;

                    .mdi {
                        font-size: 16px;
                    }
                }

                &__menu {
                    position: absolute;
                    right: 0;
                    z-index: 50;
                    display: none;

                    ul {
                        list-style-type: none;
                        padding: 0;
                        background-color: #fff;
                        border: 1px solid #eaeaea;

                        li {
                            padding: 4px 10px;
                            white-space: nowrap;
                            border-bottom: 1px solid #eaeaea;
                            font-size: 14px;
                            min-width: 120px;
                            cursor: pointer;
                            
                            a {
                                transition: .3s color ease-in-out;
                                color: $text-dark;
                                text-decoration: none;

                            }

                            &:hover {
                                a {
                                    color: $brand;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .user__dropdown {
                        color: $brand;
                    }

                    .user__menu {
                        display: block;
                    }
                }
            }
        }
    }
}

.main-content {
    padding-top: 70px;
    padding-bottom: 50px;
}

footer {
    padding: 32px 0;
    background-color: #fff;

    .footer__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .footer-nav {

            &__title {
                color: $text-dark;
                font-weight: 500;
                margin-bottom: 10px;
            }

            &__links {
                list-style-type: none;
                padding: 0;

                .footer-nav__link {    
                    font-size: 14px;
                    line-height: 18px;
                    
                    a {
                        text-decoration: none;
                        color: $text-dark;
                        transition: .3s color ease-in-out;
                    }

                    &:hover {
                        a {
                            color: $brand;
                        }
                    }
                }
            }

            .social {
                display: flex;

                a {
                    margin-right: 16px;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .footer__bottom {
        @extend .footer__top;

        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        .footer-nav--center {
            justify-self: center;
        }

        .copyright {
            justify-self: flex-end;
            align-self: flex-end;
            color: $text-dark;
            opacity: .8;
            font-size: 14px;
        }
    }
}