.product-view {
    display: grid;
    grid-template-columns: 69% 30%;
    grid-gap: 1%;

    .product-display {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 4%;
        padding: 32px;
        background-color: #fff;
        
        &-swiper {
            .gallery-top {
                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;

                        img {
                            max-width: 100%;
                            height: 350px;
                            object-fit: contain;
                            // max-width: 100%;
                        }

                        --swiper-preloader-color : #FFB317;
                    }
                }
            }

            .gallery-thumbs {
                @extend .gallery-top;
                margin-top: 16px;

                .swiper-wrapper {
                    // margin: 0 30px;
                 
                    .swiper-slide {
                        img {
                            height: 70px !important;
                        }
                    }
                }

                .swiper-button-custom {
                    --swiper-navigation-color: #FFB317;
                }

                .swiper-button-next, .swiper-button-prev {
                    outline: none;
                }

                .swiper-button-next:after, .swiper-button-prev:after {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }

        &-info {
            overflow: hidden;

            .product-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 24px;
                overflow: hidden;
                line-height: 26px;
                color: $black;
            }

            .product-desc {
                @extend .product-name;
                white-space: normal;
            }

            .rating-share {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 16px;

                .rating-holder {
                    display: flex;
                    align-items: center;

                    .c-rating {
                        @include c-rating(toem(38px), button, representative);
        
                        &--small {
                            font-size: 50%;
                        }
        
                        &--big {
                            font-size: 150%;
                        }
                    }

                    .label {
                        color: $black;
                        margin-left: 8px;
                    }
                }

                .btn-share {
                    font-size: 20px;
                    color: $black;
                    text-decoration: none;
                }
            }

            .pricing {
                border-bottom: 1px solid #d1d1d1;
                padding-bottom: 16px;
                margin-bottom: 16px;

                .price-current {
                    color: $brand-strong;
                    margin: 16px 0;
                    font-size: 28px;
                }
                .price-prev-and-discount {
                    font-size: 18px;
                    .price-prev {
                        text-decoration: line-through;
                        color: #d1d1d1;
                    }
                    .price-discount {
                        color: $black;
                    }
                }
            }

            .actions {
                .grid-column-2 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 10px;
                }

                .counter {
                    display: grid;
                    grid-template-columns: 20% 60% 20%;

                    button {
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $brand;
                        background-color: $brand-light;
                        outline: none;

                        .mdi {
                            color: $text-dark;
                            // margin-top: -3px;
                        }
                    }

                    input {
                        all: unset;
                        width: 100%;
                        height: 30px;
                        text-align: center;
                        color: $text-dark;
                        font-size: 16px;
                    }

                    /* Chrome, Safari, Edge, Opera */
                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    input[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }
    }

    .product-shipping {
        background-color: $brand-light;

        .list {
            padding: 0 14px;

            &__item {
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-gap: 8px;
                align-items: flex-start;
                padding: 14px 0;
                border-bottom: 1px solid #d1d1d1;

                &:last-child {
                    border-bottom: 0;
                }

                .list__icon {
                    font-size: 20px;
                    margin-top: -4px;
                }

                .list__icon, .list__text {
                    color: $black;
                }

                .list__text {
                    .list__header {

                    }

                    .list__content {
                        margin-top: 8px;
                        font-weight: 300;
                        line-height: 16px;
                        white-space: pre-line;
                    }
                }
            }
        }
    }
}

.product-others-info {
    display: grid;
    grid-template-columns: 79% 20%;
    grid-gap: 1%;
    margin-top: 10px;

    .product-view-sections {

        .section-header {
            background-color: $brand-light;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 32px;

            &__title{
                font-size: 18px;
                color: $black;
            }
        }

        .section-body {
            background-color: #fff;
            min-height: 200px;
            padding: 16px 32px 32px;
        }

        .product-view-section {
            margin-bottom: 10px;
        }

        .product-details {
            .section-body {
                p {
                    color: $black;
                    line-height: 18px;
                    border-bottom: 1px solid #d1d1d1;
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
    
                .image-container {
                    background-color: #f6f6f6;
                    min-height: 400px;

                    img {
                        max-width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
            }
        }

        .product-review {
            .review-wrapper {
                .review-item {
                    border-bottom: 1px solid #d1d1d1;
                    margin-bottom: 16px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    &__header {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;

                        .left {
                            .reviewer {
                                color: $black;
                            }
                        }

                        .right {
                            color: $black;
                        }
                    }

                    &__body {
                        p {
                            color: $black;
                            line-height: 18px;
                            margin-top: 8px;
                        }

                        .media-wrapper {
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                            grid-gap: 10px;
                            padding-bottom: 16px;
                            
                            .media {
                                width: 100px;
                                height: 100px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ads {
        &__item {
            background-color: #fff;
            min-height: 400px;
            margin-bottom: 10px;
        }
    }
}

.may-also-like {
    .rating-holder {
        margin-top: 8px;
        display: flex;
    }
    .z-btn-filled {
        min-width: 250px;
        min-height: 40px;
    }
}